name: Test
on:
- push
- pull_request
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: pip-${{ hashFiles('requirements/check.txt') }}
    - uses: actions/setup-python@v5
      with:
        python-version: "3.8"
    - run: pip3 install -r requirements/check.txt
    - run: pip3 install -e .
    - run: make proto
    - run: flake8
    - run: mypy grpclib examples
  test:
    needs: check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
          - requirements: "requirements/test.txt"
          - python-version: "3.8"
            requirements: "requirements/test_38.txt"
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: pip-${{ matrix.python-version }}-${{ hashFiles( matrix.requirements ) }}
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - run: pip3 install -r ${{ matrix.requirements }}
    - run: pip3 install -e .
    - run: pytest
